/hardware/blue-pill-kicad
/hardware/Kicad-STM32
/hardware/bluepkb_bak
/hardware/blackpkb/blackpkb-backups
/hardware/blackpkb/*.000
/hardware/blackpkb/*.bak
/hardware/blackpkb/*.bck
/hardware/blackpkb/*.kicad_pcb-bak
/hardware/blackpkb/*.sch-bak
/hardware/blackpkb/*~
/hardware/blackpkb/_autosave-*
/hardware/blackpkb/*.tmp
/hardware/blackpkb/*-save.pro
/hardware/blackpkb/*-save.kicad_pcb
/hardware/blackpkb/fp-info-cache
/hardware/blackpkb/fp-lib-table
/hardware/blackpkb/sym-lib-table
/hardware/blackpkb/*.net
/hardware/blackpkb/*.dsn
/hardware/blackpkb/*.ses
/hardware/blackpkb/*.zip
